{"version":1,"allow_edit":true,"plugins":[],"panes":[{"title":"Websocket Demo","width":1,"row":{"3":1,"4":1},"col":{"3":2,"4":2},"col_width":1,"widgets":[{"type":"text_widget","settings":{"title":"Count","size":"regular","value":"datasources[\"Count\"].payload","sparkline":false,"animate":true}}]}],"datasources":[{"name":"Count","type":"web_socket","settings":{"ws_uri":"ws://localhost:{{ http_port }}/ws/count"}}],"columns":3}
